<template>
  <div class="favorite">
    <Card
      class="favorite__card"
      v-for="character of favoritesCharacters"
      :key="character.id"
      :character="character"
    />
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import Card from "@/components/Card";

export default {
  components: {
    Card,
  },
  data() {
    return {
      favoritesCharacters: [],
    };
  },
  mounted() {
    this.favoritesCharacters = this.getFavoritesCharacters.filter(
      (el) => el.favorite === true
    );
  },

  computed: {
    ...mapGetters(["getFavoritesCharacters"]),
  },
  watch: {
    getFavoritesCharacters: function (newVal) {
      this.favoritesCharacters = newVal;
    },
  },
};
</script>

<style lang="scss" scoped>
.favorite {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;

  &__card {
    margin: 0 5px 15px 5px;
  }
}
</style>