<template>
  <div class="main">
    <Loader v-if="loader" />
    <div class="main__wrapper" v-else>
      <div class="main__form">
        <input
          class="main__search"
          type="text"
          placeholder="Поиск по имени"
          v-model="search"
          @change="searchCharacters()"
        />

        <select class="main__select" v-model="select">
          <option value="all">all</option>
          <option value="male">male</option>
          <option value="female">female</option>
          <option value="hermaphrodite">hermaphrodite</option>
          <option value="n/a">n/a</option>
          <option value="none">none</option>
        </select>
      </div>
      <p
        class="main__select-non"
        v-if="!filteredList.length && select !== 'all'"
      >
        NOT FOUND
      </p>
      <div class="main__content">
        <Card
          class="main__card"
          v-for="character of currentList"
          :key="character.id"
          :character="character"
        />
      </div>

      <Pagination
        @increment="increment"
        @decrement="decrement"
        @currentPage="currentPage"
        :total="totalCount"
        :pages="getPage"
        :page="page"
      />
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

import Card from "@/components/Card";
import Pagination from "@/components/Pagination.vue";
import Loader from "@/components/Loader.vue";

export default {
  components: {
    Card,
    Pagination,
    Loader,
  },
  data() {
    return {
      search: "",
      select: "all",
      allCharacters: [],
      loader: true,

      page: 1,
      perPage: 10,
      totalItems: 0,
      totalPage: 0,
      totalCount: 0,
    };
  },
  beforeMount() {
    if (this.$router.history.current.fullPath !== `/main/${this.page}`) {
      this.$router.replace(`/main/${this.page}`);
    }
    this.page = this.$store.state.currentPage;
  },
  mounted() {
    this.fetchAllCharacters(`https://swapi.dev/api/people/?page=${this.page}`);
    if (this.$router.history.current.fullPath !== `/main/${this.page}`) {
      this.$router.replace(`/main/${this.page}`);
    }
    this.allCharacters = this.getAllCharacters;
    this.totalItems = this.getAllCharacters.length;
    this.totalCount = this.getPagination.count;
    this.totalPage = Math.ceil(this.getPagination.count / this.perPage);
    if (this.getAllCharacters.length !== 0) {
      this.loader = false;
    }
  },
  updated() {
    this.allCharacters = this.getAllCharacters;
  },
  computed: {
    ...mapGetters(["getAllCharacters", "getPagination"]),
    getPage() {
      const pageArray = [];
      for (let i = 1; i <= this.totalPage; i += 1) {
        pageArray.push(i);
      }
      return pageArray;
    },
    filteredList() {
      return this.allCharacters.filter((el) => el.gender === this.select);
    },
    currentList() {
      return this.select !== "all" ? this.filteredList : this.allCharacters;
    },
  },
  methods: {
    ...mapActions(["fetchAllCharacters"]),
    increment() {
      if (this.totalItems === this.perPage) {
        this.page += 1;
        this.$store.state.currentPage += 1;

        this.fetchAllCharacters(this.getPagination.next);
        this.$router.replace(`/main/${this.page}`);
      }
    },
    decrement() {
      if (this.page > 1) {
        this.page -= 1;
        this.$store.state.currentPage -= 1;
        this.fetchAllCharacters(this.getPagination.previous);
        this.$router.replace(`/main/${this.page}`);
      }
    },
    currentPage(page) {
      this.page = page;
      this.$store.state.currentPage = page;
      let url = `https://swapi.dev/api/people/`;

      if (this.search && page) {
        url = `https://swapi.dev/api/people/?search=${this.search}&page=${this.page}`;
        return this.fetchAllCharacters(url);
      }
      if (page) {
        url = `https://swapi.dev/api/people/?page=${page}`;
        return this.fetchAllCharacters(url);
      }
      if (this.$router.history.current.fullPath !== `/main/${page}`) {
        this.$router.replace(`/main/${this.page}`);
      }
    },
    searchCharacters() {
      if (this.search === "") {
        this.page = 1;
      }
      let url = `https://swapi.dev/api/people/?search=${this.search}`;
      this.fetchAllCharacters(url);
    },
  },
  watch: {
    getAllCharacters: function (newVal) {
      this.loader = false;
      this.allCharacters = newVal;
      this.totalItems = newVal.length;
    },
    getPagination: function (newVal) {
      this.totalPage = Math.ceil(newVal.count / this.perPage);
      this.totalCount = newVal.count;
    },
  },
};
</script>

<style lang="scss" scoped>
.main {
  &__content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }
  &__card {
    margin: 0 5px 15px 5px;
  }
  &__form {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  &__search {
    width: 70%;
    padding: 10px 15px;
    margin-bottom: 20px;
    margin-right: 10px;
    color: black;
    font-size: 28px;
    border: none;
    border-radius: 5px;
    outline: none;
  }
  &__select {
    width: 150px;
    padding: 5px 10px;
    font-size: 16px;
    line-height: 120%;
    border-radius: 5px;
    &-non{
      font-size: 20px;
      line-height: 150%;
      color: black;
    }
  }
}
</style>