<template>
  <nav class="nav">
      <router-link to="/main" class="nav__item">Все герои</router-link>

      <router-link to="/favorites" class="nav__item"
        >Любимые герои</router-link
      >
    </nav>
</template>

<script>
export default {
  
}
</script>

<style lang="scss" scoped>
.nav{
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__item{
    padding: 5px 10px;
    font-size: 18px;
    line-height: 150%;
    background-color: rgba(173, 173, 173, 0.911);
    color: white;
    border: 1px solid rgb(136 136 136 / 77%);
    border-radius: 5px;
    &:hover{
      box-shadow: 2px 2px 5px rgba(245, 245, 245, 0.623);
    }
    &:active{
      transform: scale(.95);
    }
  }
}
</style>