<template>
  <div id="app">
    <Navigation />

    <router-view />
  </div>
</template>

<script>
import Navigation from '@/components/Navigation';

export default {
  name: "App",
  components: {Navigation},
  created() {
//  Считываем информацию о статусе в localStorage при загрузке страницы
    if (localStorage.getItem('store')) {
      this.$store.replaceState(
        Object.assign(
          {},
          this.$store.state,
          JSON.parse(localStorage.getItem('store'))
        )
      )
    }

//  Сохраняем информацию в vuex в localStorage при обновлении страницы
//  Событие beforeunload запускается первым при обновлении страницы
    window.addEventListener('beforeunload', () => {
      localStorage.setItem('store', JSON.stringify(this.$store.state))
    })
  },
};
</script>


<style lang="scss">
@import "./assets/style/null";
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  padding: 30px 15px;
  background-color: rgb(47 46 46 / 78%);
  min-height: 100vh;
  width: 100%;
}
</style>
